
body{

background-image: url(Plonkhub.png);
size: 1920px,1080px;
}
/**/

@font-face{

font-family: hubfont;
src: url(Font/Error.ttf);


}



h1{

font-family: hubfont;
text-align: center;

}


.btn {

    font-size: 20px;
    font-family: hubfont;
padding-top: 5px;
color:#fc0335;
border: none;
float:right;

}

/*
Navbar Brand "Plonkhub"

*/
.navbar-brand{
    font-size: 40px;
    font-family: hubfont;
padding-left: 20px;

}
/*
Navbar Brand "Plonkhub"
End
*/

.navbar-nav{

    font-size: 30px;
    font-family: hubfont;
padding-left: 20px;

}.form-inline{

    padding-left: 60.5%;
    
}

.form-control{

    background-color: #000011;

border: none;
}

.form-control:enabled{

    background-color:#000011;
    color:  rgb(197, 197, 197);
    border: none;
    font-family: hubfont;
    font-size: 20px;
}

.btn:hover{
color: #ff6666;
background: none ;

}

.btn:active{

color: #ff666634;
background: none ;

}



