
body{

background-color:rgb(65, 63, 63);

}
/*Above is the code for correcting the placement of the background*/



.container{

float: left;

}


/*Fonts*/

@font-face{

font-family: Main;
src: url(Font/baby\ blocks.ttf);


}
@font-face{

font-family: Search;
src: url(Font/coolvetica\ rg.ttf);

}

@font-face{

 font-family: Text;
    src: url(Font/Merriweather-Regular.ttf);
    
    }
p{

font-family: Text;
text-align: left;
color:white;
font-style: italic;
}
/*Text related code*/
.Firstarticle{

    font-family: Text;
    text-align:left;
    color:white;
    font-size: 30px;
font-style: italic;

    }

    .Firstarticletext{

        font-family: Text;
        text-align:left;
        color:white;
        font-size: 18px;
    line-height: 30px;
    display: block;
        }
    
.Firstarticletextcaption{

    font-family: Text;
    text-align:left;
    color:white;
    font-size: 25px;
font-style: italic;
line-height: 5px;
}

.Hometext{

font-family: Text;
text-align: center;
color: white;
font-size: 25px;


}

.Abouttext{

    font-family: Text;
    text-align: center;
    color: white;
    font-size: 25px;
    
    
    }
    
    .Reviewtext{

        font-family: Text;
        text-align: center;
        color: white;
        font-size: 25px;
        
        
        }
        .Privacytext{

            font-family: Text;
            text-align: center;
            color: white;
            font-size: 35px;
            font-style: bold;
            
            } 


/*
Navbar Brand "Plonkhub"
*/
.navbar-brand{
    font-size: 3em;
    font-family: Main;



}




/*Navbar code*/
.navbar-nav{

    font-size: 2em;
    font-family: Main;

}

.me-1{

padding-left: 0.5em;

}


/*Jumping stickman gif styling*/
.Hubgif1{

    position: relative ;
    width: 0.5em;
    top: 0.5em;
opacity: 0.5em;
}


.Hubgif1:hover {

opacity: 100%;
transition: 0.7s ease-in-out;

}




/*Privacy policy styling*/

.bottombar{

    position: fixed;
    bottom: 0;
    width: 100%;
overflow: hidden;
list-style: none;
text-decoration: none;
}




.privacy{

text-decoration: none;
color: rgb(197, 197, 197);
list-style: none;
font-family: Main;
font-size: 2em;

overflow: hidden;


}

.privacy:hover, .easteregg:hover{

text-decoration: none;
color: white;

}

/*Easter egg button styling*/

.easteregg{
    text-decoration: none;
    color: rgb(197, 197, 197);
    list-style: none;
    font-family: Main;
    font-size: 2em;
    
    overflow: hidden;
  
    background: none;
    border: none;
   
    
}




/*Slideshow css code*/
* {box-sizing: border-box}
.slideshowtestcontainer{
top: 200px;
max-width: 500px;
position: absolute;

left: 70%;

}



.slides{

    display: none;
    
}
/*Next and previous arrow buttons*/
.prev, .next{

cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px; 
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.7s ease;
user-select: none;
text-decoration: none;

}

/*Proper positioning of the next button*/
.next{
right: 0;
border-radius: 3px 0 0 3px;

}

/*Hover color on arrow buttons*/
.prev:hover, .next:hover{

color: rgb(197, 197, 197);;


}


/*Text over the slideshowimage*/
.foottext{

font-family: Search;
color: white;
font-size: 17px;
padding: 85% 13px;
position:absolute;
bottom: 8px;
right: 18px;
width: 100%;
text-align: center;

}
/*Clock styling code*/
.Clock{

font-family: Main;
font-size: 2em;

}