
body{

background-image: url(Plonkhub.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
/*Above is the code for correcting the placement of the background*/

/*For mobile */


/*Fonts*/

@font-face{

font-family: Main;
src: url(Font/baby\ blocks.ttf);


}
@font-face{

font-family: Search;
src: url(Font/Pixeled.ttf);

}

@font-face{

 font-family: Text;
    src: url(Font/coolvetica\ rg.ttf);
    
    }
p{

font-family: Text;
text-align: left;
color:black;
font-style: italic;
}

.caption{

    font-family: Text;
    text-align:center;
    color:black;
    font-size: 50px;

    }

    .maintext1{

        font-family: Text;
        text-align:left;
        color:black;
        font-size: 20px;
    
        }
    

.btn {

    font-size: 15px;
    font-family: Search;
padding-top: 5px;
color:#fc0335;
border: none;
float:right;

}

/*
Navbar Brand "Plonkhub"

*/
.navbar-brand{
    font-size: 40px;
    font-family: Main;
padding-left: 20px;


}
/*
Navbar Brand "Plonkhub"
End
*/



/*
Search button start
*/
.navbar-nav{

    font-size: 30px;
    font-family: Main;
padding-left: 25px;




}

.nav-item-primary{

    padding-left: 20px;
    padding-top: 10px;

    }

    .nav-item-second{

        padding-left: 20px;
        padding-top: 10px;



    }

        .nav-item-third{

            padding-left: 20px;
            padding-top: 10px;


            }

/*custom navbar color*/
.bg-custom{

background-color:#0D0D0D;

}


.form-inline{

    padding-left: 54%;
    
}

.form-control{

    background-color: #000011;
    

border: none;
}

.form-control:enabled{

    background-color:#000011;
    color:  rgb(197, 197, 197);
    border: none;
    font-family: Search;
    font-size: 12px;
}




.btn:hover{
color: #ff6666;
background: none ;

}

.btn:active{

color: #ff666634;
background: none ;

}


.navbar{

color: black;

}





/*Search button end*/

.nav-item:hover{

background-color: #16171D;
border-radius: 15px;


}

.Hubgif1{

    position: relative ;
    top: 50px;

}



.Policy { 

margin: 0px;
font-family: Main;
font-size: 30px;
position: fixed;
padding-top: 14.5%;
list-style: none;
text-decoration: none;
}

.Privacy{

text-decoration: none;
color: rgb(197, 197, 197);
list-style: none;
}

.Privacy:hover{

text-decoration: none;
color: white;

}

